<html>
<head><meta charset="UTF-8"></head>
<body>
	<div
	  th:fragment="header"
      class="w-100 shadow-sm p-1 mb-0 bg-light position-fixed"
      style="z-index: 1"
    >
      <section class="info-section">
        <div class="info-header">
          <h2 class="fw-bold">Life is too short, feel free to join us</h2>
        </div>
        <div class="info-list">
          <ul class="info-buttons">
            <li><a href="/" class="info-btn link-info">홈</a></li>
            <li>
              <a href="/login" class="info-btn link-info">로그인</a>
            </li>
            <li>
              <a href="/register" class="info-btn link-info">회원가입</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
</body>
</html>
